<mat-accordion class="example-headers-align" multi #accordion="matAccordion">
  <div class="project-title">
    <h4 routerLink="dashboard" style="cursor: pointer;">
      Citizen Complaint
    </h4>
  </div>
  <div class="profile-image" style="height: 120px;">
    <div style="width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center;">
       <img class="avtar-img" src="assets/avtar-logo.png" alt="logo" width="80" height="80" routerLink="profile" />  
       <h5>Pankaj</h5>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div *ngFor="let item of menuItems">
      <mat-expansion-panel >
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>{{ item.icon }}</mat-icon>
          {{ item.title }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-container *ngFor="let link of item.routerLinks">
        <mat-list-item>
          <a
            mat-list-item          
            [routerLink]="link.path"
          >
            {{ link.label }}
          </a>
        </mat-list-item>
        <mat-divider style="background-color: black;"></mat-divider>
      </ng-container>
    </mat-expansion-panel>
    <mat-divider></mat-divider>
  </div>

  <!-- logout -->
  <div>
    <button class="mat-btn">
      <mat-list-item (click)="logout()">
        Logout
      </mat-list-item>
    </button>    
  </div>

</mat-accordion>
