.screen {
  width: 100%;
  height: 100%;
  display: flex;
}
.example-container {
  width: 100%;
  height: 100%;
}
.content {
  width: 100%;
  height: 100%;
}
.mat-btn{
  border: none;
}
.mat-drawer-container {
  width: 100%;
}
::ng-deep .mat-drawer {
  padding-top: 0px !important;
}
.footer {
  width: 100%;
  height: 25px;
  background-color: #3f51b5;
  position: fixed;
  bottom: 0;
  color: white;
}

.rooter-container {
  width: 100%;
  height: auto;
}
.navbar{
  padding: 0px;
}
.header-app{
 position: fixed;
 top: 0;
 width:-webkit-fill-available;
 z-index: 9999;
}
.content-wrapper {
  padding-top: calc(var(--header-height, 64px));
}
mat-drawer{
  width:250px !important;  
}
mat-divider{
  height: 2px !important;
  color: white !important;
}