@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "@ag-grid-community/styles/ag-theme-alpine.css"; /* Legacy theme */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 0, "GRAD" 0, "opsz" 40;
}
.snack-bar-success {
  background-color: #4caf50 !important; /* Green background for success */
  color: white;
}

.snack-bar-error {
  background-color: #f44336 !important; /* Red background for error */
  color: white;
}

.snack-bar-info {
  background-color: #2196f3; /* Blue background for info */
  color: white;
}
/* Global styles for snack bars in Angular Material theme */

/* Success snack bar style */
.mat-snack-bar-container.snack-bar-success {
  background-color: #4caf50;
  color: white;
}

/* Error snack bar style */
.mat-snack-bar-container.snack-bar-error {
  background-color: #f44336;
  color: white;
}

/* Info snack bar style */
.mat-snack-bar-container.snack-bar-info {
  background-color: #2196f3;
  color: white;
}
.white{
  color:white;
}
.blue{
  color:#3f51b5;
}
.green-snackbar {
  background: rgb(65, 252, 134);
  color: white;
}
.green-snackbar button {
  background-color: rgb(65, 252, 134);
  color: white;
  border: none;
}
.red-snackbar {
  background: #F44336;
  color: white;
}
.red-snackbar button {
  background-color: #F44336;
  color: white !important;
  border: none;
}
/* .mat-mdc-snack-bar-container .mdc-snackbar__surface{
  background-color: none !important;
  color: Black;
} */

/* .mat-expansion-indicator {
  color: white !important;
}

.mat-expansion-indicator svg {
  fill: white !important;
  stroke: white !important;
}

.mat-expansion-indicator path {
  fill: white !important;
  stroke: white !important;
} */